<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Vinted</h2>
      <button class="btn btn-primary" (click)="onNewVinted()" >Add</button>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Taille</th>
          <th scope="col">Prix d'achat</th>
          <th scope="col">Prix de vente</th>
          <th scope="col">Profit</th>
          <th scope="col">Marge</th>
          <th scope="col">Date d'achat</th>
          <th scope="col">Date publication</th>
          <th scope="col">Date de vente</th>
          <th scope="col" style="width: 30%"></th>
        </tr>
        </thead>
        <tbody>
        <tr>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
