<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Add a new payslip</h2>
    <form [formGroup]="payslipForm" (ngSubmit)="onSavePayslip()">

      <mat-form-field>
        <mat-label>Month</mat-label>
        <mat-select formControlName="month">
          <mat-option *ngFor="let month of month" [value]="month.value">
            {{month.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select formControlName="year">
          <mat-option *ngFor="let year of year" [value]="year.value">
            {{year.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" id="amount"
               class="form-control" formControlName="amount">
      </div>
      <mat-form-field>
        <mat-label>Company</mat-label>
        <mat-select formControlName="company">
          <mat-option *ngFor="let company of payslipCategoryList" [value]="company.name">
            {{company.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-group">
        <h4>Add a picture</h4>
        <input type="checkbox" formControlName="isPdf" id="isPdf"/>
        <label for="isPdf">&nbsp;It is a PDF ?</label>
        <input type="file" (change)="detectFiles($event)"
               class="form-control" accept="image/*,application/pdf">
        <p class="text-success" *ngIf="fileUploaded">File loaded !</p>
      </div>
      <button class="btn btn-success" [disabled]="payslipForm.invalid || fileIsUploading"
              type="submit">Save
      </button>

    </form>
  </div>
</div>
