<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Add a new payslip</h2>
    <form [formGroup]="payslipForm" (ngSubmit)="onSavePayslip()">
      <div class="form-group">
        <label for="month">Month</label>
        <input type="text" id="month"
               class="form-control" formControlName="month">
      </div>
      <div class="form-group">
        <label for="year">Year</label>
        <input type="number" id="year"
               class="form-control" formControlName="year">
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" id="amount"
               class="form-control" formControlName="amount">
      </div>
      <div class="form-group">
        <label for="company">Company</label>
        <input type="text" id="company"
               class="form-control" formControlName="company">
      </div>
      <button class="btn btn-success" [disabled]="payslipForm.invalid"
              type="submit">Save
      </button>

    </form>
  </div>
</div>
